<div class="course-list-row">
  <mat-card class="course-list-header">
    <h1>My Courses</h1>

    <button
      *ngIf="displayCreateCourse"
      mat-raised-button
      color="primary"
      (click)="goToRoute('course/create')"
    >
      <mat-icon>add</mat-icon>
      Create Course
    </button>
  </mat-card>
</div>

<div class="course-list-row" *ngIf="isStudent$ | async">
  <h2>Recent Courses</h2>
</div>

<div class="course-list-row" *ngIf="isStudent$ | async">
  <div class="courses-recent">
    <mat-card class="courses-recent-card" *ngFor="let course of recentCourse">
      <div
        class="course-recent-image"
        [ngStyle]="{ 'background-color': course.color }"
      ></div>
      <h3>{{ course.name }}</h3>
    </mat-card>
  </div>
</div>

<div class="course-list-row">
  <h2>All Courses</h2>
</div>

<div class="course-list-row scrollable">
  <mat-grid-list [cols]="columns" gutterSize="12px" rowHeight="200px">
    <mat-grid-tile
      *ngFor="let course of allCourses"
      [colspan]="1"
      [rowspan]="1"
    >
      <div class="courses-list-element">
        <mat-card class="course-tile">
          <div class="course-tile-section">
            <div
              class="course-tile-image"
              [ngStyle]="{ 'background-color': 'lightgreen' }"
            ></div>
            <div class="course-tile-details">
              <div class="course-tile-header">
                <h3>{{ course.name }}</h3>
              </div>
              <p>{{ course.subText }}</p>
            </div>

            <div class="evaluations-detail">
              <button
                *ngIf="isStudent$ | async"
                mat-raised-button
                color="warn"
                (click)="goToRoute('course/my-courses/evaluation')"
              >
                Evaluations
              </button>
              <button
                *ngIf="isStudent$ | async"
                class="evaluations-detail-btn"
                mat-raised-button
                color="warn"
                (click)="openCourseDetails(course)"
              >
                Details
              </button>
              <button
                *ngIf="isInstructor$ | async"
                class="evaluations-detail-btn"
                mat-raised-button
                color="warn"
                (click)="openCourseAttendance(course)"
              >
                Attendance
              </button>
            </div>

          </div>
        </mat-card>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
