.metadata-card {
    width: 90%;
    height: 90%;
}

.course-duration-form {
    display: flex;
    justify-content: space-between;
}

.duration-date {
    width: 28%;
    text-align: center;
}

.duration-days {
    width: 44%;
    text-align: center;
}