<div class="dashboard-row">
    <mat-card class="dashboard-header milestone-text-color-secondary-dark">
        <h2>Hi
            <span *ngIf="(user$ | async) as userData; else default_username">
              {{userData.userName}} !
            </span>
        </h2>
    </mat-card>
</div>

<div class="dashboard-row dashboard-summary">
    <mat-card>
        Dashboard summary
    </mat-card>

    <mat-card>
        Dashboard summary
    </mat-card>
    
    <mat-card>
        Dashboard summary
    </mat-card>
    
    <mat-card>
        Dashboard summary
    </mat-card>
</div>

<div class="dashboard-row">
    <mat-card class="dashboard-user-course">
        <h4>Your Courses</h4>

        <milestone-dashboard-courses>
        </milestone-dashboard-courses>
    </mat-card>
</div>


<ng-template #default_username>User !</ng-template>