<mat-tab-group mat-align-tabs="start" color="warn" class="profile-tabs">
    <mat-tab label="User">
        <milestone-academia-user-information
            [userData]="user$ | async"
        ></milestone-academia-user-information>
    </mat-tab>
    <mat-tab label="Student Information" *ngIf="student$ | async">
        <milestone-academia-student-information
            [studentData]="studentData$ | async"
        ></milestone-academia-student-information>
    </mat-tab>
    <mat-tab label="Teacher Information" *ngIf="!(student$ | async)">
        <milestone-academia-teacher-information></milestone-academia-teacher-information>
    </mat-tab>
</mat-tab-group>