<div class="course-list-row">
    <mat-card class="course-list-header">
        <h2>Courses</h2>

        <mat-button-toggle-group #group="matButtonToggleGroup" value="1">
            <mat-button-toggle value="1" aria-label="List" (change)="buttonToggled($event.value)">
              <mat-icon>view_list</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle value="2" aria-label="Grid" (change)="buttonToggled($event.value)">
              <mat-icon>view_module</mat-icon>
            </mat-button-toggle>
        </mat-button-toggle-group>
    </mat-card>
</div>

<div class="course-list-row scrollable">

    <mat-grid-list [cols]="columns" gutterSize="12px" rowHeight="200px">
        <mat-grid-tile
            *ngFor="let tile of tiles"
            [colspan]="tile.cols"
            [rowspan]="tile.rows">

            <div class="courses-list-element">
                <mat-card class="course-tile" (click)="openDetails(tile)">
                    <div class="course-tile-header"><h3>{{tile.title}}</h3></div>
                    <div class="course-tile-section">
                        <div class="course-tile-image" [ngStyle]="{'background-color': tile.color}"></div>
                        <div class="course-tile-details">{{tile.subText}}</div>
                    </div>
                </mat-card>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>