<mat-stepper linear #stepper>

    <mat-step [stepControl]="userDataForm" editable="true">
        <form [formGroup]="userDataForm">
            <ng-template matStepLabel>User Information</ng-template>
            <milestone-academia-user-details
                [parentForm]="userDataForm"
            ></milestone-academia-user-details>
            <div style="display: flex; justify-content: flex-end;">
              <button mat-raised-button color="warn" matStepperNext>Next <mat-icon>chevron_right</mat-icon></button>
            </div>
        </form>    
    </mat-step>

    <mat-step [stepControl]="personalDataForm" editable="true">
      <form [formGroup]="personalDataForm">
        <ng-template matStepLabel>Personal Information</ng-template>
        <milestone-academia-personal-details
            [parentForm]="personalDataForm"
        ></milestone-academia-personal-details>
        <div style="display: flex; justify-content: space-between;">
          <button mat-raised-button color="warn" matStepperPrevious><mat-icon>chevron_left</mat-icon> Back</button>
          <button mat-raised-button color="warn" matStepperNext>Next <mat-icon>chevron_right</mat-icon></button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="addressDataForm" editable="true">
      <form [formGroup]="addressDataForm">
        <ng-template matStepLabel>Address Information</ng-template>
          <milestone-academia-address-details
            [parentForm]="addressDataForm"
          ></milestone-academia-address-details>
          <div style="display: flex; justify-content: space-between;">
            <button mat-raised-button color="warn" matStepperPrevious><mat-icon>chevron_left</mat-icon> Back</button>
            <button mat-raised-button color="warn" matStepperNext>Next <mat-icon>chevron_right</mat-icon></button>
          </div>
      </form>
    </mat-step>
    
    <mat-step>
      <ng-template matStepLabel>Create User</ng-template>
      <p>User data has been filled, do you wish to create this user?</p>
      <div style="display: flex; justify-content: space-between;">
        <button mat-raised-button color="warn" matStepperPrevious><mat-icon>chevron_left</mat-icon> Back</button>
        <button mat-raised-button color="warn" (click)="submitData()">Create <mat-icon>add</mat-icon></button>
      </div>
    </mat-step>

</mat-stepper>