table {
    width: 100%;
}
  
.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td, th {
    width: 25%;
}

h3 {
    margin: 0;
}

.manage-users-card {
    width: 90%;
    height: 90%;
    margin: 10px auto;
}

.manage-users-table-div {
    width: 100%;
    overflow: hidden;
    overflow-y: auto;
    height: calc(100% - 148px);
}