<div *ngIf="courseData.length > 0">

    <div *ngIf="!selectedCourse">
        <div *ngFor="let course of courseData">
            <div class="assign-course">
                <div class="assign-course-details">
                    <div><h3>{{course.name}} - {{course.courseLevel}}</h3></div>
                    <div>{{course.description}}</div>
                </div>
                <div class="assign-course-section">
                    <button *ngIf="!course.isAssigned" mat-fab color="warn"  (click)="selectCourse(course)">
                        <mat-icon>chevron_right</mat-icon>
                    </button>
                    
                    <mat-icon *ngIf="course.isAssigned" color="primary" style="font-size: 64px; width: inherit; height: inherit;">check</mat-icon>
                </div>
            </div>
            <mat-divider style="margin-top: 10px;"></mat-divider>
        </div>
    </div>
    
    <div *ngIf="selectedCourse">
        <div class="selected-course">
            <button mat-raised-button color="warn" (click)="selectCourse(null)">
                <mat-icon>chevron_left</mat-icon>
                Back
            </button>

            <mat-divider style="margin-top: 10px;"></mat-divider>

            <div class="selected-course-details" style="align-items: center;">
                <div><h3>{{selectedCourse.name}} - {{selectedCourse.courseLevel}}</h3></div>
                <div>{{selectedCourse.description}}</div>
            </div>
            
            <mat-divider style="margin-top: 10px;"></mat-divider>

            <div class="selected-course-details" style="align-items: center;">
                <mat-icon color="warn" style="font-size: 72px; width: inherit; height: inherit;">warning</mat-icon>
            </div>
            
            <div class="selected-course-details" style="align-items: center;">
                You are about to assign a course to a user.
            </div>

            <div class="selected-course-details">
                <button mat-raised-button color="warn" (click)="assignCourse()">
                    <mat-icon>assignment_turned_in</mat-icon>
                    Assign
                </button>
            </div>
            
            <mat-divider style="margin-top: 10px;"></mat-divider>

        </div>
    </div>

</div>