.milestone-user-info {
    margin: 5px;
}

.user-info-row {
    width: 80%;
    display: flex;
    margin: 10px auto;
    align-items: center;
    justify-content: space-between;
}

.user-info-divider {
    margin: 5px 0px 20px;
}