<milestone-academia-navbar
  (sideButtonClick)="toggleDrawer($event)"
></milestone-academia-navbar>

<mat-drawer-container class="milestone-container" autosize>
  <mat-drawer #drawer class="milestone-sidenav" mode="side">
    <div class="sidenav-custom-button"  (click)="routeTo('user/dashboard')">
      Dashboard
    </div>

    <div class="sidenav-custom-button"  (click)="routeTo('course/list')">
      Courses
    </div>

    <div class="sidenav-custom-button"  (click)="routeTo('course/my-courses')">
      My Courses
    </div>
  </mat-drawer>

  <div class="milestone-sidenav-content">
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>
