// .evaluation{
//     display: flex;
//     justify-content: space-between;
//     gap: 10rem;

//     .next-button{
// display: flex;
//     align-items: center;
//     justify-content: center;
//     background-color: orangered;
//      color: white;
//      border: none;
//     border-radius: 25px;  padding: 10px 20px;
//     font-size: 16px;
//     cursor: pointer;
//     text-align: center;
//     width: 100px;
//     height: 30px;

//     }
// }

h1,
h2 {
  margin: 0;
}

.course-list-row {
  width: 95%;
  margin: 10px 0px;
}

.course-list-header {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.courses-recent {
  display: flex;
  justify-content: flex-start;

  @media (max-width: 480px) {
    display: grid;
    grid-template-columns: auto auto;
  }

  .courses-recent-card {
    width: calc((100% / 4) - 80px);
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 30px;

    @media (max-width: 480px) {
      width: 75%;
      margin: 15px;
    }

    h3 {
      margin-bottom: 0;
    }

    .course-recent-image {
      width: 125px;
      height: 125px;
    }
  }
}

.scrollable {
  max-height: calc(100% - 80px);
  overflow: hidden;
  overflow-y: auto;

  @media (max-width: 480px) {
    overflow: initial;
    overflow-y: initial;
  }
}

.courses-list-element {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.next-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: orangered;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  width: 100px;
  height: 30px;
}

.course-tile {
  width: 100%;
  height: 80%;

  .course-tile-header {
    h3 {
      margin: 0;
    }
  }

  .course-tile-section {
    display: flex;
    height: inherit;
    align-items: center;
    justify-content: space-between;
  }

  .course-tile-image {
    width: 125px;
    height: 125px;
  }

  .course-tile-details {
    width: calc(100% - 150px);
    height: inherit;
    margin-left: 20px;
  }

  .evaluations-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orangered;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
  }
}

.course-tile:hover {
  cursor: pointer;
  box-shadow: 0px 4px 2px -2px rgba(244, 67, 54, 0.4),
    0px 2px 2px 0px rgba(244, 67, 54, 0.28),
    0px 2px 6px 0px rgba(244, 67, 54, 0.24);
}
