.milestone-login {
    width: 55vw;
    height: 65vh;
    
    @media (max-width: 480px) {
        width: 70vw;
        height: auto;
    }

    .mat-card-header{
        display: flex;
        align-items: center;
        justify-content: center;

        .mat-card-title{
            font-size: 1.5em;
            font-weight: bold;
        }
    }

    .mat-card-content {
        width: inherit;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 480px) {
            flex-direction: column;
        }
    }

    .mat-card-actions {
        display: flex;
        justify-content: center;
    }

    .milestone-login-image {
        width: 45%;
        height: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .oversize {
            width: 100%;
            height: auto;
        }
    }

    .milestone-login-form {
        width: 45%;
        height: 90%;
        display: flex;
        align-items: center;

        @media (max-width: 480px) {
            width: 80%;
            margin-top: 10px;
        }

        .full-width {
            width: 100%;
        }
        .back-button{
            margin-bottom: 10px;
        }
        .forgot-password{
            margin-top: 10px;
        }
    }
}

