<mat-toolbar class="milestone-navbar"  color="primary">
  <div class="milestone-sidebar-div">
    <button *ngIf="loggedIn$ | async" mat-icon-button (click)="sideButtonClicked()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Milestone Academia</span>
  </div>

  <div>
    <button *ngIf="loggedIn$ | async" mat-icon-button [matMenuTriggerFor]="menu" color="secondary">
      <mat-icon>person</mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button (click)="logout()" mat-menu-item>
    <mat-icon>logout</mat-icon>
    <span>Logout</span>
  </button>
  <!-- <button mat-menu-item disabled>
    <mat-icon>voicemail</mat-icon>
    <span>Check voice mail</span>
  </button>
  <button mat-menu-item>
    <mat-icon>notifications_off</mat-icon>
    <span>Disable alerts</span>
  </button> -->
</mat-menu>
  