.milestone-navbar {
    display: flex;
    height: 64px !important;
    justify-content: space-between;
}

.milestone-sidebar-div {
    display: flex;
    align-items: center;
}

.milestone-navbar-user {
    display: flex;
    align-items: center;
}